@page "/login"
@inject NavigationManager NavigationManager

<h3>Login</h3>

<button @onclick="SignInWithGoogle">Sign in with Google</button>

@code {
    private void SignInWithGoogle()
    {
        var googleLoginUrl = CreateGoogleLoginUrl();
        NavigationManager.NavigateTo(googleLoginUrl, true);
    }

    private string CreateGoogleLoginUrl()
    {
        var clientId = "957632015776-qn936kmpn69es8j3h866flflbgejrcmk.apps.googleusercontent.com";
        var redirectUri = "https://localhost:7064/authentication/login-callback"; // Your redirect URI
        var responseType = "code";
        var scope = "openid email profile";
        var state = Guid.NewGuid().ToString(); // Optional state token to prevent CSRF attacks

        return $"https://accounts.google.com/o/oauth2/v2/auth?client_id={clientId}&redirect_uri={redirectUri}&response_type={responseType}&scope={scope}&state={state}";
    }
}
